body
{
    margin: 0;
    background-color: #f0f0f0;
}
.wrapper {
    width: 100%;
    max-width: 1032px;
    padding: 0 16px;
    margin: 0 auto;
    box-sizing: border-box;
}
div
{
    box-sizing: border-boxs
}
img
{
    max-width: 100%;
    vertical-align: bottom;
}
a
{
    color: #000;
    font-size: 14px;
    text-decoration: none;
}
ul
{
    display: flex;
    /* flexboxアイテムを等間隔に配置 */
    justify-content:space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p
{
    font-size: 14px;
}
.section-title
{
    display: block;
    font-weight: normal;
    line-height: 1;
}
.section-title .en 
{
    display: block;
    font-size: 36px;
    letter-spacing: 0.3em;
    margin-bottom: 10px;
    padding: 0;
}
.section-title .ja 
{
    display: block;
    font-size: 14px;
    margin-bottom: 36px;
    padding: 0;
}
.section-title::after {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #000;
    display: block;
    margin-bottom: 50px;
}


/* ヘッダー */
header
{
    height: 80px;
    align-items: center;
    display: flex;
    /* flexbox最初を開始点に、最後を終了点に、残りは均等に配置 */
    justify-content: space-between;
    margin: auto;
}
h1
{
    max-width: 100px;
    margin: 0 60px 0 0;
}
h1 a
{
    font-size: 0;
    display: block;
}
nav ul
{
    margin: 0;
    padding: 0;
}
nav li
{
    margin-right: 30px;
}
nav li:last-child 
{  
    margin-right: 0;
}
.top-container
{
    width: 100%;
    max-width: 1032px;
    display: flex;
    align-items: center;
    padding: 0 16px;    
    margin: 0 auto;
}
.contact
{
    width: 200px;
    height: 80px;
    line-height: 80px;
    background-color: #000;
    color: #fff;
    font-size: 0.75rem;
    display: inline-block;
    text-align: center;
}
.contact:hover {
  background-color: rgb(50, 50, 50);
}

/* メイン */
.mainvisual 
{
    margin-bottom: 120px;
}
.mainvisual img
{
    width: 100%;
    /* 100vh(ビューポートの高さいっぱい) */
    height: calc(100vh - 80px);
    object-fit: cover;
}

#news
{
    margin-bottom: 120px;
}
#news h2
{
    margin: 0;
    padding: 0;
}
#news .list 
{
    display: flex;
    justify-content: space-between;
}
#news .list li 
{
    width: calc(100%/3);
    border-right: solid 1px #000;
    font-size: 14px;
    padding: 10px 20px;
}
#news .list li:first-child 
{
    padding-left: 0;
}
#news .list li:last-child 
{
    border-right: none;
    padding-right: 0;
}
#news .list li .date-area 
{
    margin-bottom: 16px;
}
#news .list li .date-area span 
{
    width: 50px;
    height: 20px;
    line-height: 20px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 0.75rem;
    margin-left: 10px;
    text-align: center;
}
#news p
{
    margin: 0;
}

#news
{
    margin-bottom: 120px;
}

#about
{
    display: flex;
    max-width: 100%;
    margin: 0 0 120px 0;
    padding: 0;
}
#about .section-title
{
    margin: 0 0 50px;
}
#about .img
{
    width: 55%;
}
#about .img img 
{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
#about .explain
{
    width: 45%;
    margin: 0;
    padding: 180px 5% 0 5%;
}
#about p
{
    margin: 0;
}

#business 
{
    margin-bottom: 120px;
}
#business .section-title
{
    margin: 0 0 50px;
}
#business .flex 
{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}
#business .flex .left 
{
    width: 46%;
    margin-top: 100px;
}
#business .flex .right 
{
    width: 46%;
}
#business .flex .title 
{
    font-weight: bold;
    margin: 0 0 10px 18px;
    position: relative;
}
#business .flex .item 
{
  margin-bottom: 50px;
}
#business .flex .item:last-child 
{
  margin-bottom: 0;
}
#business .flex .title::before 
{
    content: "";
    width: 8px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: -18px;
}

#company
{
    height: 750px;
    display: flex;
    align-items: center;
    position: relative;
}
#company .text 
{
    width: 55%;
    background-color: #fff;
    padding: 100px 8% 100px 6%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}
#company dl
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
}
#company dt
{
    width: 20%;
    margin: 10px 0 0 0;
}
#company dd
{
    width: 80%;
    margin: 10px 0 0 0;
}
#company .info .add 
{
    margin: 10px 0 0 20%;
}
#company .img 
{
    width: 53%;
    box-sizing: border-box;
    position: absolute;
    top: 115px;
    right: 0;
}
#company .img img 
{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#footer 
{
    background-color: #fff;
    padding-bottom: 20px;
}
#footer  p
{
    margin: 0;
    padding: 0;
}
#footer .logo 
{
    width: 100px;
    line-height: 1px;
    margin-right: 60px;
}
#footer .flex 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
#footer .copyright 
{
    font-size: 10px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .logo {
      width: 80px;
      margin: 8px 0;
    }
    .section-title {
      margin-bottom: 34px;
    }
    .section-title .ja {
      margin-bottom: 24px;
    }
  
    #header .inner {
      flex-direction: column;
      align-items: flex-start;
    }
    #header .contact {
      display: none;
    }
    #mainvisual {
      margin-bottom: 80px;
    }

    #news {
      margin-bottom: 80px;
    }
    #news .list {
      flex-direction: column;
    }
    #news .list li {
      width: 100%;
      border-right: none;
      padding: 10px 0;
      margin-bottom: 20px;
    }
    #news .list li:last-child {
      margin-bottom: 0;
    }
  
    #about {
      flex-direction: column;
      margin-bottom: 80px;
    }
    #about .img {
      width: 100%;
      margin-bottom: 30px;
    }
    #about .img img {
      height: 300px;
    }
    #about .text {
      width: 100%;
      padding: 0 16px;
    }
  
    #business {
      margin-bottom: 80px;
    }
    #business .flex {
      flex-direction: column;
      padding: 0;
    }
    #business .flex .left {
      width: 100%;
      margin: 0 0 30px 0;
    }
    #business .flex .right {
      width: 100%;
    }
    #business .flex .item {
      text-align: center;
      margin-bottom: 30px;
    }
    #business .flex .title {
      text-align: left;
    }
  
    #company {
      height: auto;
      flex-direction: column;
      position: static;
    }
    #company .text {
      width: 100%;
      padding: 40px 20px;
      margin-bottom: 20px;
      position: static;
    }
    #company .img {
      width: 100%;
      padding: 0;
      position: static;
    }
    #company .info {
      flex-direction: column;
    }
    #company .info dt {
      width: 100%;
      margin-top: 20px;
    }
    #company .info dd {
      width: 100%;
      margin-top: 5px;
      padding-left: 14px;
    }
    #company .info dd:first-of-type {
      margin-top: 5px;
    }
    #company .info .add {
      margin-left: 0;
    }
    #footer .flex {
      flex-direction: column;
      align-items: flex-start;
    }
    #footer .flex .logo {
      margin-bottom: 10px;
    }
  }